body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 750px;  
    margin: 0 auto;
    padding: 0 2em 1em;
}
h1 { 
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 8em;
}
input, select { 
    width: 10em;
    margin-right: 1em;
    margin-bottom: 1em;
}
input[type=checkbox] { 
    width: 2em;
}
header p {
	margin:1em;
    padding-top: 1em;

}
 #player, #high_score, #correct {
	float: left;
}

#new_game{
    float: left;
    margin-bottom: 2em;
    border-radius: 10px;
    width:auto;
    background-color: rgb(21, 70, 107);
    

   
}

p a{
    text-decoration: none;
    color: rgb(223, 237, 242);
    margin-top: 1em;
    padding-left:0.5em;
    padding-right: 0.5em;
    
    


}
#cards img {
    height: 100px;
    width: 80px;
    padding-right: 5px;
    padding-bottom: 3px;
    float: left; 
}
.clear {
    clear: both;
}
 /* changing min-height so that all 48 images will be inside border */
#tabs-1{
    min-height: 100vh;
}

 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: rgb(87, 109, 224);
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10em;
}

.logo img {
    width: 120px;
  
}

.nav-list li {
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
   

}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.nav-list li a:hover {
    color: grey;
}
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}


#tabs{

    background-color: beige;
}

.button{
    display: flex;
    
    }
    
    #save_settings{
    
        margin-bottom: 2em;
        border-radius: 10px;
        background-color: rgb(152, 204, 245);
    
    }